<form action="" class="my-5" method="GET">
    <!-- Parking -->
    <label for="parking">Parcheggio</label>
    <input id="parking" type="checkbox" name="parking" value="true">

    <!-- Hotel vote -->
    <select class="form-select my-3" aria-label="Default select example" name="hotel-vote">
        <option selected value="">Cerca l'hotel in base al voto</option>
        <option value="1">Uno</option>
        <option value="2">Due</option>
        <option value="3">Tre</option>
        <option value="4">Quattro</option>
        <option value="5">Cinque</option>
    </select>

    <div class="d-flex justify-content-between">
        <button type="submit">Filtra</button>
        <a href="index.php">Annulla filtri</a>
    </div>
</form>